/*
Colors used:
Primary Color (Purple): #60047a;
Secondary Color (Maroon): #9c0f5f;
Accent Color (Red): #c91b26;
Accent Color (Orange): #f2671f;
Background Color (Dark Purple): #160a47;
Font Color (Off White): #f5f5f5;
*/


/* Universal Box Sizing/Border Box */

* {
  box-sizing: border-box;
}


/* Body */

body {
  background-color: #160a47;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #f5f5f5;
}


/* Fonts */

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
h2 {
  font-size: 2.25em;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
h3 {
  font-size: 1.75em;
  font-weight: 300;
  width: 100%;
}
h4 {
  font-size: 1.35em;
  font-weight: 300;
  width: 100%;
}


/* Header */

header {
  background-color: #60047a;
  padding: 10px 0;
  border-bottom: 3px solid #60047a;
  text-align: center;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow:    0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow:         0px 2px 8px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
}


/* Hero */

#hero {
  background-color: #60047a;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


/* Main */

main {
  padding-top: 170.33px;
}


/* Images */

img {
  width: 100%;
}
.profile-img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mountains-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* Hyperlinks */

a {
  color: #f2671f;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #c91b26;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #9c0f5f;
}


/* Buttons */

.button {
  display: inline-block; /* this is to change display:inline default */
  background-color: #f2671f;
  color: #f5f5f5; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #c91b26; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #f2671f;
  text-transform: uppercase;
  border: 2px solid #f2671f;
  text-align: center;
}
.button.contact:hover {
  background-color: #f2671f;
  color: #f5f5f5;
}


/* Layout Styling */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
}
#hero h1 {
  text-align: center;
}
#hero p {
  text-align: center;
}
#hero span {
  display: block;
}
#work h2 {
  text-align: center;
}
#contact h2 {
  text-align: center;
}
.logo {
  max-width: 250px;
}
nav {
  display: inline-block;
  width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a:visited {
  text-decoration: none;
  color: #f2671f;
}
nav > ul > li > a {
  color: #c91b26;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
}
nav > ul > li > a:hover, a:focus {
  color: #c91b26;
  text-decoration: underline;
}
.socialmedia {
  text-align: center;
}
.socialmedia > ul {
  list-style-type: none;
  padding: 0;
}
.socialmedia > ul > li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
.social-media-icon {
  height: 50px;
  width: 50px;
}
.copyright p {
  text-align: center;
}
.email {
  text-align: center;
}
.text-center {
  text-align: center;
}


/* Keyframes/Animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 99px
  }
  body {
    font-size: 18px;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .profile-img {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  [class*="col-"] {
    float: left;
    padding: 20px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-img {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
